<%= stylesheet_link_tag 'index' %>
<%= javascript_include_tag 'index' %>

<h1>勤怠表</h1>
<div class="main-wrapper">
  <div class="top-wrapper">
    <div class="profile">
      <%= image_tag 'no-select.jpg', class: "index-image-size" %>
      <p><%= current_user.name %></p>
      <p><%= current_user.email %></p>
      <p class="underbar">開始時間 08:30</p>
    </div>
    <div class="change-btn"><button class="btn-flat-double-border">表示月変更</button>
    <div class="main-form">
      
      <table class="table table-bordered">
        <thead class="heading">
          <tr>
            <th>作業月</th>
            <th>所定時間</th>
            <th>稼働時間</th>
            <th>時間外</th>
            <th>勤務日数</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2019年1月</td>
            <td>150時間</td>
            <td>150時間</td>
            <td>3時間</td>
            <td>20日</td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
  </div>
  <%= link_to "新規作成", new_time_card_path, remote: true, class: "btn btn-primary" %>
<div id="time-card-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
  
<div class="table-wrapper">
  <div class="main-table">
   <table class="table table-bordered">
  <thead class="heading">
    <tr>
      <th>編集</th>
      <th>区分</th>
      <th>日付</th>
      <th>開始</th>
      <th>終了</th>
    </tr>
  </thead>
  </table>
 </div>
 <% if @time_cards.present? %>
  <% @time_cards.each do |t| %>
  <div class="main-table">
  <table class="table table-borderd">
  <tbody>
    <tr>
      <td><%= link_to "編集", edit_time_card_path(t.id), remote: true, class: "btn btn-primary" %></td>
      <td><%= t.id %></td>
      <td><%= t.division %></td>
      <td><%= t.day.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[Time.now.wday]})") %></td>
      <td><%= t.starttime.strftime('%H時%M分') %></td>
      <td><%= t.endtime.strftime('%H時%M分') %></td>
      <td><%= link_to '削除', time_card_path(t), method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: "btn btn-danger"%></td>
    </tr>
  </tbody>
</table>
</div>

<% end %>
<% end %>
</div>
</div>


